body {
    font-family: sans-serif;
}
.filterLoader {
    display: inline-block;
    margin-left: calc(50vw - 24vmin);
    margin-top: calc(50vh - 24vmin);
    width: 40vmin;
    height: 40vmin;
    border: 1vmin solid #f3f3f3; /* Light grey */
    border-top: 1vmin solid blue;
    border-bottom: 1vmin solid blue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.filterHeader {
    display: none;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: #888888;
    text-align: center;
    vertical-align: middle;
    border-radius: 1rem;
    font-style: italic; 
    font-size: 1.5rem; 
    color: #ffffff
}
.filterFooter {
    display: none;
    width: 100%;
    margin-top: 0.5rem;
    background-color: #888888;
    text-align: center;
    vertical-align: middle;
    border-radius: 1rem;
    font-style: italic; 
    font-size: 1.5rem; 
    color: #ffffff'
}
.filterContent {
    display: inline-block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}
.filterCharts {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: #ffffff;
}
@media only screen and (orientation: landscape) {
    .filterCharts {
        width: calc(100% - 13.5rem);
    }
}
.filterFields {
    display: none;
    width: 12rem;
    padding: 0.5rem;
    vertical-align: top;
    background-color: #888888;
    border-radius: 1rem;
    white-space: normal;
}
.filterMeasures {
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    text-align: left;
    text-align-last: center;
    border-radius: 1rem;
}
.filterList {
    width: 100%;
    height: 8rem;
    text-align: middle;
    vertical-align: middle;
    font-size: 0.8rem;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0.6rem 0 #555555;
    overflow-x: hidden;
    overflow-y: auto;
}
.filterField {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
}
.filterTitle {
    width: 100%;
    height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0.4rem 0.4rem 0.6rem 0 #555555;
}
.filterButtons {
    width: 100%;
    height: 2rem;
}
.filterAdjust {
    width: 33.3%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 0.4rem 0.4rem 0.6rem 0 #555555;
}
.filterSelect {
    width: 100%;
    height: 4rem;
    text-align: left;
}
.filterChart {
    padding-top: 1rem;
}
.filterPivotDiv {
    width: 100%;
    overflow-x: auto;
    white-space: normal;
}
.filterPivotTable {
    margin: 0 auto;
    border: 1px solid #888888;
    border-collapse: collapse;
    font-size: 0.8rem;
}
.filterPivotDimension {
    padding: 0.2rem;
    border: 1px solid #888888;
    background-color: #eeeeee;
}
.filterPivotMeasure {
    padding: 0.2rem;
    border: 1px solid #888888;
    background-color: #cccccc;
}
.filterPivotTotal {
    padding: 0.2rem;
    border: 1px solid #888888;
    background-color: #444444;
    color: #ffffff;
}
.filterPivotHeading {
    padding: 0.2rem;
    border: 1px solid #888888;
    background-color: #dddddd;
    color: #000000;
}
.filterKpiTable {
    margin: 0 auto;
    overflow: auto;
}
.filterKpiHeading {
    padding: 0.2rem;
    color: #888888;
    font-size: 1rem;
    font-weight: 600;
}
.filterKpiMeasure {
    padding: 0.2rem;
    color: #aaaaaa;
    font-size: 2rem;
    font-weight: 800;
}
